.ipynb_checkpoints/50_Startups-checkpoint.ipynb
.ipynb_checkpoints/ClassifyingExample-checkpoint.ipynb
.ipynb_checkpoints/denemeler-checkpoint.ipynb
.ipynb_checkpoints/Fish_csv_dataMining-checkpoint.ipynb
.ipynb_checkpoints/genderClassification-checkpoint.ipynb
.ipynb_checkpoints/Hafta-4-checkpoint.ipynb
.ipynb_checkpoints/Hafta-5-checkpoint.ipynb
.ipynb_checkpoints/Hafta-6-checkpoint.ipynb
.ipynb_checkpoints/Hafta-7-checkpoint.ipynb
.ipynb_checkpoints/Hafta-9-Calisma-checkpoint.ipynb
.ipynb_checkpoints/Hafta-10-Calisma-checkpoint.ipynb
.ipynb_checkpoints/hafta-9-checkpoint.ipynb
.ipynb_checkpoints/Hafta-10-checkpoint.ipynb
.ipynb_checkpoints/Hafta-12-checkpoint.ipynb
.ipynb_checkpoints/Hafta-13-checkpoint.ipynb
.ipynb_checkpoints/Hafta-14-checkpoint.ipynb
.ipynb_checkpoints/Hafta11-Calisma-checkpoint.ipynb
.ipynb_checkpoints/Hafta7-checkpoint.ipynb
.ipynb_checkpoints/Hafta11-checkpoint.ipynb
.ipynb_checkpoints/KumelemeOrnek-checkpoint.ipynb
.ipynb_checkpoints/KumeOrnek-checkpoint.ipynb
.ipynb_checkpoints/LineerRegresyonOrnek-checkpoint.ipynb
.ipynb_checkpoints/PandasCalismasiZehrayaAt-checkpoint.ipynb
.ipynb_checkpoints/thirdexample-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
